<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="header">
    Supermarket inventory management system
</div>
<div class="contain">
    <p class='l-title'>
        <span class="before">
        </span>
        Good Detail Info
    </p>
    <p class="detail">
        <span>Name:</span>
        <span>{{good.name}}</span>
    </p>
    <p class="detail">
        <span>Price:</span>
        <span>{{good.price}}</span>
    </p>
    <p class="detail">
        <span>Stock:</span>
        <span>{{good.stock}}</span>
    </p>
    <p class="detail">
        <span>Place:</span>
        <span>{{good.place}}</span>
    </p>
    <p class="detail">
        <span>Warehousing Date:</span>
        <span>{{good.store_time}}</span>
    </p>
    <p class="detail">
        <span>Expiration Date:</span>
        <span>{{good.expire_time}}</span>
    </p>
</div>
</body>
</html>
<script src="/static/js/script.js"></script>